<section class="about" id="about">
    <div class="container">
        <div class="about__row">
            <div class="about__column">
                <div class="about__title">About Me</div>
                <div class="about__img">
                    <picture>
                        <source srcset="../img/Incognito.avif" type="image/avif">
                        <source srcset="../img/Incognito.webp" type="image/webp">
                        <img loading="lazy" src="../img/Incognito.png" class="image" width="" height="" alt="">
                    </picture>
                </div>
            </div>
            <div class="about__column">
                <div class="about__headline">Who I Am?</div>
                <div class="about__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at tellus semper lacus varius suscipit. Suspendisse pulvinar, justo id scelerisque efficitur, quam augue pharetra metus, ultricies finibus elit ipsum vitae.</p>
                    <p>Cupiditate recusandae laudantium esse, harum animi aspernatur quisquam et delectus ipsum quam alias quaerat? Quasi hic quidem illum</p>
                </div>
                <div class="about__resume">
                    <a href="#" target="_blank"><button>Download Resume</button></a>
                </div>
            </div>
        </div>
    </div>
</section>
