<header id="myHeader" class="header">
    <div class="container">
        <div class="header__row">
            <div class="header__logo"><span>Port</span>folio.</div>
            <div class="header__menu">
                <nav class="nav" title="">
                    <ul class="nav__list">
                        <li class="nav__item active"><a href="#" class="nav__link">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#" class="nav__link">Skills</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
