<div class="hero">
    <div class="container">
        <div class="hero__column">
            <div class="hero__row">
                <div class="hero__hello">
                    Hello, I'm
                </div>
            </div>
            <div class="hero__row">
                <div class="hero__name">
                    Schastlivcev Anton
                </div>
            </div>
            <div class="hero__row">
                <div class="hero__web">
                    Web Developer
                </div>
            </div>
            <div class="hero__row">
                <div class="hero__contact">
                    <a href="#"><button>Contact Me</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
