<section class="skills">
    <div class="container">
        <div class="skills__row">
            <div class="skills__title">My Skills</div>
        </div>
        <div class="skills__row">
            <div class="skills__column">
                <div class="skills__headline">
                    My creative <span>skills</span> and <span>experiences</span>.
                </div>
                <div class="skills__text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ratione error est recusandae consequatur, iusto illum deleniti quidem impedit, quos quaerat quis minima sequi. Cupiditate recusandae laudantium esse, harum animi
                        aspernatur quisquam et delectus ipsum quam alias quaerat? Quasi hic quidem illum. Ad delectus natus aut hic explicabo minus quod.</p>
                </div>
            </div>
            <div class="skills__column">
                <div class="skills__progress">
                    <progress value="80" max="100"></progress><span>JavaScript/jQuery</span>
                    <progress value="70" max="100"></progress><span>HTML5/CSS3</span>
                    <progress value="60" max="100"></progress><span>NodeJS</span>
                    <progress value="80" max="100"></progress><span>Photoshop</span>
                </div>
            </div>
        </div>
    </div>
</section>
